
<%- include('./partials/_header') %>
  <h1>sample ejs</h1>
  <img src="<%= mix('/assets/images/300x300.png') %>" alt="サンプル画像">
<%- include('./partials/_footer') %>
<script src="<%= mix('/assets/js/app.js') %>" async></script>
</body>
</html>